
<%require 'pry'%>
<h1> Your Genres: </h1>

<% @genres.each do |genre|%>
  <h3><a href = "/genres/<%=genre.id%>"><%=genre.name%></a> </h3>



<%end%>


<h3> <a href = "/books"> Go back to your Books To Read </a> </h3> 
