<h2> Add a new Book To Read!</h2>


<form method = "POST" action = "/books/new">
  <label>Name:</label>
  <input type = 'text' name = 'name' id = 'name'><br><br>
  <label>Author: </label>
  <input type = 'text' name = 'author' id = 'author'><br><br>
  <label>Notes: </label>
  <textarea name = 'notes' id = 'notes'></textarea>
  <br>
  <input type = 'submit' value = "Add Book">
</form>
