<h2> Add a new Book To Read!</h2>


<form method = "POST" action = "/books/new">
  <label>Name:</label>
  <input type = 'text' name = 'name' id = 'name'><br><br>
  <label>Author: </label>
  <input type = 'text' name = 'author' id = 'author'><br><br>
  <label>Notes: </label>
  <textarea name = 'notes' id = 'notes'></textarea>
  <br>
  <br>
  <label>Genres: </label>
  <%@genres.each do |genre|%>
    <ul>
    <li><input type = "checkbox" id = "<%= genre.name%>" name = "genre_ids[]" value = "<%= genre.id%>"><%=genre.name%></input></li>
  </ul>
  <%end%>
  <br>
  <label> Or create a new Genre: </label>
  <input type = 'text' name = "genres[name]" id = "genres_name">
  <input type = 'submit' value = "Add Book">
</form>
